/* Table Container */
.nt-table-con {
    width: 100%;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
 
/* Scrollable when content exceeds the container width */
.nt-table-scroll {
    overflow-x: auto;
}
 
.nt-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
 
/* Header styles */
.nt-thead {
    background-color: #f8f8f8;
}
 
.nt-th, .nt-td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    white-space: nowrap; /* Prevent wrapping, ensuring scroll if content exceeds width */
}
 
/* Alternating row colors */
.nt-tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
 
.nt-tbody tr:hover {
    background-color: #eaeaea;
    cursor: pointer;
}
 
 
/* Make priority table scroll horizontally if needed */
.nt-priority-table-container table {
    width: 100%;
}
 
.nt-priority-table-container {
    margin-top: 50px; /* Space between the two tables */
}
 
.nt-table-scroll-date {
    overflow-x: auto;  /* Enables horizontal scroll */
    max-width: 100%;   /* Restricts width to the container */
}
 
.nt-table-scroll-date table {
    width: max-content;  /* Forces the table to take up space based on content */
    min-width: 100%;     /* Ensures the table doesn't shrink below the container width */
} 